.util{
    display: flex;
    flex-direction: row;
    float: right;
    margin-left: 10%;
    margin-top: 7%;
  }
input:hover{
  background-color: $color_input-hover;
  color: white;

   

}
  .recherche{
    position: relative;
    &:hover{
      animation: loupe 2s ease-in-out 0s infinite reverse none;
      svg { 
        color: white;
      }
    }
    &__input{
        border:none;
        outline:none;
        height: 45px;
        width: 300px;
    }
    &__bouton{
        border:none;
        outline:none;
        top: 0;
        right:0;
        height: 45px;
        width:45px;
        position: absolute;
        display:flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0,0,0,0);
        
      
    }

}


//Animation loupe barre recherche

@keyframes loupe {
  0% {
    transform: translate(0);
  }

  10% {
    transform: translate(-2px, -2px);
  }

  20% {
    transform: translate(2px, -2px);
  }

  30% {
    transform: translate(-2px, 2px);
  }

  40% {
    transform: translate(2px, 2px);
  }

  50% {
    transform: translate(-2px, -2px);
  }

  60% {
    transform: translate(2px, -2px);
  }

  70% {
    transform: translate(-2px, 2px);
  }

  80% {
    transform: translate(-2px, -2px);
  }

  90% {
    transform: translate(2px, -2px);
  }

  100% {
    transform: translate(0);
  }
}