/* ---------------- BACKGROUND */
$color__background-body : rgb(123, 221, 67);
$color__background-main : #070A0D;
$color__background-cours : #4A5259;
$color__background-header : #070A0D;
$color__background-barre : #070A0D;
$color__background-footer : #1f1f1f;
$color__background-link : #22222200;
$color__background-link-hover : #40ff006e;
$color__input-hover: #15ff009c;

/* ---------------- LIENS */
$color__link : #ffffff;
$color__link-hover : #ffffff;
$color__link-visited : #7B848C;

/* ---------------- LIENS FOOTER */
$color__link__footer : #00ff15;
$color__link__footer-hover : #ffffff;
$color__link__footer-visited : #099704;

/* ---------------- LIENS HEADER */
$color__link__header : #f40b0b;
$color__link__header-hover : #ffffff;
$color__link__header-visited : #19e123;


/* ---------------- FONT */
$color__font-header : #ffffff;
$color__font-main :#ffffff;
$color__font-barre : #ffffff;
$color__font-footer : #ffffff;
