.site__footer{
    background-color: $color__colorbackground-footer;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;

}
.footer__menu{
    list-style-type: none;
    a{
        display:flex;
        align-items: center;
        svg{
            padding-right: 10px;
        }
    }
}

.site__footer a{
    padding:10px;
    width: 45%;
    color: $color__link-footer;
    &__:hover{
        background-color: rgba(0,0,0,0);
        box-shadow: none;
        text-decoration: underline;
        
    
    }
}
